<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
        |
      <a href="/projects">Projects</a>
        |
      <a href="/employees">Employees</a>
        |
      <a href="/locations">Locations</a>
    </nav>